.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(179, 178, 178);
    margin: 4px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: antiquewhite;
}