*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: cursive;
}
.box {
    height: 400px;
    width: 500px;
    background-color: #7F27FF;
    color: #f4fd53;
    text-align: center;
    border-radius: 10px;
}
.box h1{
    padding: 30px;
}
.box h2{
    padding: 30px;
}
.box input{
    background-color: #74E291;
    /* height: 10px;
    width: 50px; */
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.box button{
    margin: 25px;
    padding: 20px;
    border: 0px;
    border-radius: 10px;
    background-color: #f4ff20;
    color: #100c3f;
    font-size: 30px;
}
.box button:hover {background-color: #ced71e;
    color: #504c78;}

.box button:active {
  background-color: #f4ff20;
  box-shadow: 0 5px #545252;
  transform: translateY(4px);
}