*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: cursive;
}
.box {
    height: 400px;
    width: 500px;
    background-color: #7F27FF;
    color: #f4fd53;
    text-align: center;
    border-radius: 10%;
}
.box h1{
    padding: 40px;
}
.box h2{
    padding: 30px;
}
.box button{
    margin: 25px;
    padding: 20px;
    border: 0px;
    border-radius: 10%;
    background-color: #f4ff20;
    color: #100c3f;
    font-size: 20px;
}